{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <link rel="icon" type="image/png" href="{% url 'favicon' %}"/>
    <link rel="stylesheet" href="{{ static_url }}css/style.css">
    <link rel="stylesheet" href="{{ static_url }}css/sidebar.css">
    <link rel="stylesheet" href="{{ static_url }}css/content.css">

    <link rel="stylesheet" href="{{ static_url }}css/light.css">

    <link rel="stylesheet" href="{{ static_url }}css/{{display}}.css">

    {% block meta %}
    {% endblock %}

    {% if title %}
        <title>{{ page_title }} | {{ title }}</title>
    {% else %}
        <title>{{ page_title }}</title>
    {% endif %}
</head>
<body>
    <div class="sidebar">
    <a href="/" class="top">
        <h2>Day</h2>
        <h2>{{sidebar_title}}</h2>
    </a>

    <div class="gallery_button">
        <a href="{% url 'getGallery' %}">Gallery</a>
    </div>

    {% for month in sidebar_months %}
    <a href="{% url 'getActiveDaysOfMonth' index=forloop.counter|add:"-1" %}">{{ month }}</a>
    {% endfor %}

    <div class="sidebar_bottom">
        <a href="{% url 'participants' %}">Participants</a>
        <a href="{% url 'updates' %}">Updates</a>
        <a href="{% url 'about' %}">About</a>
    </div>

    </div>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>