{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="title">
    <h1>{{ title }}</h1>
    <div class="link">
        <p>
            <a href="{% url 'getGalleryOfMonth' index=month %}">Gallery</a>        
        </p>
    </div>
</div>

<div class="gallery display">    
    {% for day in days %}
    <div class="grid">
        <div class="post">
            <div class="media {% if day.is_nsfw %}blur{% endif %}">
                <a href="{% url 'getPostsOfDay' timestamp=day.timestamp %}">
                    {% if day.image %}
                        <img src="{{ media_url }}{{ day.image.name }}" alt="">
                    {% elif day.video %}
                        <video controls>
                            <source src="{{ media_url }}{{ day.video.name }}" type='video/mp4'>
                        </video>
                    {% endif %}
                </a>
            </div>
            <div class="title">
                <p>
                    <a href="{% url 'getPostsOfDay' timestamp=day.timestamp %}">
                        {{ day.date|date:"l" }} the {{ day.date|date:" jS" }}    
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}