{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="post_gallery_title post_gallery_title_center">
    <h1>{{ title }}</h1>
</div>

<div class="participants_list">
    {% for competitor in competitors %}
    {% if competitor.user.profile_picture is not None or competitor.user.biography is not None %}
    <div class="participant">
        <div class="participant_picture">
            <a href="{% url 'getPostsFromUser' index=competitor.user.username %}">
                {% if competitor.user.profile_picture %}
                <img src="{{ media_url }}{{ competitor.user.profile_picture.name }}" alt="" >
                {% endif %}
            </a>
        </div>
        
        <div class="participant_info">
            <div class="participant_name" >
                <a href="{% url 'getPostsFromUser' index=competitor.user.username %}">
                    <p>{{ competitor.user.username }}<p>
                </a>
            </div>
            <div class = "participant_post_count">
                <p>({{competitor.posts}} posts)</p>
            </div>
            <div class="participant_bio">
                {% if competitor.user.biography %}
                <p >{{ competitor.user.biography }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}