{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="title">
    <h1>{{ title }}</h1>
</div>

<div class="list">
    {% for competitor in competitors %}
    {% if competitor.user.profile_picture.name and competitor.user.biography %}
    <div class="participant">
        <div class="picture">
            <a href="{% url 'getUserGallery' index=competitor.user.username %}">
                <img src="{{ media_url }}{{ competitor.user.profile_picture.name }}" alt="" >
            </a>
        </div>
        
        <div class="info">
            <div class="name" >
                <p>
                    <a href="{% url 'getUserGallery' index=competitor.user.username %}">{{ competitor.user.username }}</a>
                <p>
                
                <div class = "count">
                    <p>Score: {{competitor.posts}}</p>
                </div>
            </div>

            <div class="bio">
                <p >{{ competitor.user.biography }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}