{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{ post.title }}</h1>
<div class="post_single">
    <div class="post">
        <a href="{% url 'getPost' pk=post.id %}">
            {% if post.image %}
                <img src="{{ media_url }}{{ post.image.name }}" alt="">
            {% elif post.video %}
                <video controls>
                    <source src="{{ media_url }}{{ post.video.name }}" type='video/mp4'>
                </video>
            {% endif %}
        </a>
        <p>Uploaded by {{ post.owner.username }} on {{ post.date }}</p>
    </div>
</div>
{% endblock %}