{% extends "base.html" %}
{% load static %}
{% block content %}

{% if display == "list" %}
{% include "next_previous.html" %}
{% endif %}

<div class="title">
    <h1>{{ title }}</h1>
</div>
<div class="{{display}} display">
    {% for post in posts %}
    {% if display_type == "list" %}
    <div class="post" style="margin-top: 2em;">
    {% else %}
    <div class="post">
    {% endif %}
        <div class="media {% if post.is_nsfw %}blur{% endif %}">
            <a href="{% url focused_url pk=post.id %}">
                {% if post.image %}
                    <img src="{{ media_url }}{{ post.image.name }}" alt="">
                {% elif post.video %}
                    <video controls>
                        <source src="{{ media_url }}{{ post.video.name }}" type='video/mp4'>
                    </video>
                {% endif %}
            </a>
        </div>

        <a href="{% url focused_url pk=post.id %}">
            {% if post.title %}
            <p class="post_title">{{ post.title }}</p>
            {% else %}
            <p class="post_title">{{ post.date|date:"l" }}</p>
            {% endif %}
        </a>
        <p class="post_description">by <a href="{% url 'getPostsFromUser' index=post.owner.username %}">{{ post.owner.username }}</a> on <a href="{% url 'getPostsOfDay' timestamp=post.timestamp %}">{{ post.date|date:"M jS, h:i a" }}</a></p>
    </div>
    {% endfor %}

</div>

{% if display == "gallery" %}
{% include "page_list.html" %}
{% endif %}

{% endblock %}
