{% extends "base.html" %}
{% load static %}

{% block meta %}
{% if post.title %}
<meta property="og:title" content="{{ post.title }}" />
{% else %}
<meta property="og:title" content="{{ page_title }}" />
{% endif %}

<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ site_name }}" />

{% if post.image %}
<meta property="og:image" content="{{ site_url }}{{ media_url }}{{ post.image.name }}" />
<meta property="og:image:url" content="{{ site_url }}{{ media_url }}{{ post.image.name }}" />
<meta property="twitter:image" content="{{ site_url }}{{ media_url }}{{ post.image.name }}" />
{% elif post.video %}
<meta property="og:video" content="{{ site_url }}{{ media_url }}{{ post.video.name }}" />
{% endif %}

<meta property="og:url" content="{{ site_url }}{% url 'getPost' pk=post.id %}" />
{% endblock %}


{% block content %}
<div class="post_single">
    {% if previous or next %}
    {% include "post_pages_list.html" %}
    {% endif %}

    <div class="post_single_title">
        {% if focused_url %}
        <a href="{% url focused_url pk=post.id %}">
        {% else %}
        <a href="{% url 'getPost' pk=post.id %}">
        {% endif %}
            {% if title  %}
            <h1>{{ title }}</h1>
            {% else %}
            <h1>{{ post.date|date:"l" }}</h1>
            {% endif %}
        </a>
    </div>
    
    <div class="post">
        {% if post.is_nsfw and not show_nsfw %}
        <p style="margin-top: 1em; font-weight: bolder;">Click on content and/or title to view NSFW</p>
        {% endif %}

        {% if focused_url %}
        <a href="{% url focused_url pk=post.id %}">
        {% else %}
        <a href="{% url 'getPost' pk=post.id %}">
        {% endif %}
            {% if post.image %}
                <img src="{{ media_url }}{{ post.image.name }}" alt="" {% if post.is_nsfw and not show_nsfw %} class="add_blur" {% endif %}>
            {% elif post.video %}
                <video controls>
                    <source src="{{ media_url }}{{ post.video.name }}" type='video/mp4' {% if post.is_nsfw and not show_nsfw %} class="add_blur" {% endif %}>
                </video>
            {% endif %}
        </a>
        <p>Uploaded by <a href="{% url 'getPostsFromUser' index=post.owner.username %}">{{ post.owner.username }}</a>  on <a href="{% url 'getPostsOfDay' timestamp=post.timestamp %}">{{ post.date }}</a></p>
        <p>({{ post.clicks }} view{% if post.clicks > 1 %}s{% endif %})</p>
    </div>

    {% if previous or next %}
    {% include "post_pages_list.html" %}
    {% endif %}
</div>
{% endblock %}