{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="{{ style }}">
        <h1>{{ title }}</h1>
        
        {% for post in posts %}
        <div class="post">
            <a href="{% url 'getPost' pk=post.id %}">
                {% if post.image %}
                    <img src="{{ media_url }}{{ post.image.name }}" alt="">
                {% elif post.video %}
                    <video controls>
                        <source src="{{ media_url }}{{ post.video.name }}" type='video/mp4'>
                    </video>
                {% endif %}
            </a>
            <a href="{% url 'getPost' pk=post.id %}">
                <p class="post_title"> {{ post.title }} </p>
            </a>
            <p class="post_description">by {{ post.owner.username }} on {{ post.date|date:"M jS" }}, {{ post.date|date:"h:i a" }}</p>
        </div>
        {% endfor %}

        <div class="pages_list">
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li>
                    <a href="{{ root_page }}/{{ page }}">[{{page}}]</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
