{% extends "base.html" %}
{% load static %}

{% block meta %}
{% if post.title %}
<meta property="og:title" content="{{ post.title }}" />
{% else %}
<meta property="og:title" content="{{ page_title }}" />
{% endif %}

<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ site_name }}" />

{% if post.image %}
<meta property="og:image" content="{{ site_url }}{{ media_url }}{{ post.image.name }}" />
<meta property="og:image:url" content="{{ site_url }}{{ media_url }}{{ post.image.name }}" />
<meta property="twitter:image" content="{{ site_url }}{{ media_url }}{{ post.image.name }}" />
{% elif post.video %}
<meta property="og:video" content="{{ site_url }}{{ media_url }}{{ post.video.name }}" />
{% endif %}

<meta property="og:url" content="{{ site_url }}{% url 'getPost' pk=post.id %}" />
{% endblock %}

{% block content %}

<div class="post_single">
    <div class="post_single_title">
        <h1>{{ title }}</h1>
    </div>

    <div class="post">
        <a href="{% url 'getPost' pk=post.id %}">
            {% if post.image %}
                <img src="{{ media_url }}{{ post.image.name }}" alt="">
            {% elif post.video %}
                <video controls>
                    <source src="{{ media_url }}{{ post.video.name }}" type='video/mp4'>
                </video>
            {% endif %}
        </a>
        <p>Uploaded by <a href="{% url 'getPostsFromUser' index=post.owner.username %}">{{ post.owner.username }}</a>  on {{ post.date }}</p>
    </div>
</div>


<div class="pages_list">
    <ul>
        {% if previous is not None %}
        <li>
            [<a href="{% url transition_url index=transition_index page=previous %}">previous</a>]
        </li>
        {% endif %}

        {% if next is not None %}
        <li>
            [<a href="{% url transition_url index=transition_index page=next %}">next</a>]
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}