<div class="pages_list">
    <ul>
        {% if previous is not None %}
        <li>
            [<a href="{% url transition_url index=transition_index page=previous %}">previous</a>]
        </li>
        {% endif %}

        {% for p in pages %}
        <li>
            [<a href="{% url transition_url index=transition_index page=p %}" {% if page == p %} style="color:lightslategray;" {% endif %}>{{p}}</a>]
        </li>
        {% endfor %}

        {% if next is not None %}
        <li>
            [<a href="{% url transition_url index=transition_index page=next %}">next</a>]
        </li>
        {% endif %}
    </ul>
</div>