{% extends "base.html" %}
{% load static %}

{% block content %}
{% if non_gallery  %}
<div class="post_gallery_title post_gallery_title_center">
{% else %}
<div class="post_gallery_title" style="margin-bottom: 0em;">
{% endif %}
    <h1>{{ title }}</h1>
</div>

{% if non_gallery  %}
<div class="post_list">
{% else %}
<div class="post_gallery">
{% endif %}
    {% if previous or next or page %}
    {% include "posts_pages_list.html" %}
    {% endif %}

    {% for post in posts %}
    {% if non_gallery is None %}
    <div class="post" style="margin-top: 2em;">
    {% else %}
    <div class="post">
    {% endif %}
        {% if post.is_nsfw %}
        <p style="margin-top: 1em; font-weight: bolder;">NSFW</p>
        {% endif %}

        <a href="{% url focused_url pk=post.id %}">
            {% if post.image %}
                <img src="{{ media_url }}{{ post.image.name }}" alt="" {% if post.is_nsfw %} class="add_blur" {% endif %}>
            {% elif post.video %}
                <video controls>
                    <source src="{{ media_url }}{{ post.video.name }}" type='video/mp4' {% if post.is_nsfw %} class="add_blur" {% endif %}>
                </video>
            {% endif %}
        </a>

        <a href="{% url focused_url pk=post.id %}">
            {% if post.title %}
            <p class="post_title">{{ post.title }}</p>
            {% else %}
            <p class="post_title">{{ post.date|date:"l" }}</p>
            {% endif %}
        </a>

        <p class="post_description">by <a href="{% url 'getPostsFromUser' index=post.owner.username %}">{{ post.owner.username }}</a> on <a href="{% url 'getPostsOfDay' timestamp=post.timestamp %}">{{ post.date|date:"M jS, h:i a" }}</a></p>
    </div>
    {% endfor %}

    {% if previous or next or page %}
    {% include "posts_pages_list.html" %}
    {% endif %}
</div>
{% endblock %}
