.title {
    width: 100%;

    margin-bottom: 1em;
    float: left;
}

.gallery {
    grid-template-columns: repeat(auto-fill, 12em);
    width: 100%;
    float: left;
}

.gallery .grid {
    display: inline-grid;
    width: 100%;
}

.gallery .post .title { 
    height: 2em;
}

.gallery .post .media {
    height: 9em;
}

.page_list ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}