body {
    border-color: #121414;
}

a, p { 
    color: #121414;
}

.sidebar {
    background-color: #121414;
}

.sidebar a {
    color: #ffffff;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.blur .disclaimer {
    background-color: #121414;
}

.blur .disclaimer p {
    color: white;
}

.page_list {
    background-color: white;
}