a { 
    color: #ffffff;
}

.sidebar {
    background-color: #121414;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.blur .disclaimer {
    background-color: #121414;
}

.blur .disclaimer p {
    color: white;
}

.title {
    border-color: #121414;
}

.title a {
    color: #121414;
}

.display p, .display a {
    color: #121414;
}

.display .post {
    border-color: #121414;
}

.display .post img, .display .post img {
    border-color: #121414;
}

.next_previous a {
    color: #121414;
}