.title {
    width: 40%;
    height: auto;

    margin-bottom: 2em;
    margin-top: 1em;

    border-bottom: 5px solid;

    margin-right: auto;
    margin-left: auto;
}

.title h1 {
    text-transform: uppercase;
}

.title * {
    margin-bottom: 5px;
    margin-top: 0px;

    white-space: nowrap;
    text-align: center;
}

.list .title {
    width: 100%;
    margin-bottom: 0em;
}

.list {
    width: 40%;

    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    row-gap: 2em;
    margin-bottom: 5em;

    margin-right: auto;
    margin-left: auto;
}

.list .post {
    width: 100%;
    height: 100%;

    border-bottom: 3px solid;
}

.list * {
    text-decoration: none;
}

.list .post .title {
    width: 100%;

    margin-top: .75em;
    border: none;
}

.list .post .title * { 
    text-align: center;
    font-weight: normal;
    text-decoration: none;
}

.list .post .media {
    border-radius: 0.5em;
}

.list .post .media img, .list .post .media video {
    object-fit: cover;
    max-width: inherit;
    width: 100%;

    border: 3px solid;
    border-radius: 0.5em;
}