.title {
    width: 40%;

    margin-bottom: 2em;

    margin-right: auto;
    margin-left: auto;
}

.title * {
    text-align: center;
}

.list {
    width: 40%;

    grid-template-columns: repeat(1, 1fr);

    margin-right: auto;
    margin-left: auto;
}