/* Taken from https://github.com/mixu/markdown-styles/blob/master/output/jasonm23-foghorn/assets/style.css */

html, body {
    margin:auto;
    /* padding:1em; */
    /* max-width:60em; */
    background: #232b2b;
}

body {
    color: #b9c7c6;
/*line-height: 1.4;*/
    text-align: justify;
}

header, nav, article, footer {
  /* width: 700px; */
  margin:0 auto;
}

article {
    margin-top: 4em;
    margin-bottom: 4em;
    min-height: 400px;
}
footer {
    margin-bottom:50px;
}
nav {
    font-size: .9em;
    font-style: italic;
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
}
nav p {
    margin: 0;
}

/* Typography
-------------------------------------------------------- */
h1, h2, h3 {
    white-space: initial;
    word-wrap: break-word
}

h1 {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
h3 {
    font-weight: normal;
    font-style: italic;
    margin-top:1em;
}
p {
    margin-top:0;
    -webkit-hypens:auto;
    -moz-hypens:auto;
    hyphens:auto;
}
ul {
    list-style: square;
    padding-left:1.2em;
}
ol {
    padding-left:1.2em;
}
blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #ddd;
}
code {
    font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
    font-size: .9em;
}
pre {
    border: 2em solid #b9c7c6;
    background: #b9c7c6;
    background-clip: content-box;
    color: black;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img, video {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}
h1 a, h1 a:hover {
/*    color: #333;*/
    text-decoration: none;
}
hr {
    color : #ddd;
    height : 1px;
    margin: 2em 0;
    border-top : solid 1px #ddd;
    border-bottom : none;
    border-left: 0;
    border-right: 0;
}
p#heart{
    font-size: 2em;
    line-height: 1;
    text-align: center;
    color: #ccc;
}
.red {
    color:#B50000;
}

/* Home Page
--------------------------- */
body#index li {
  margin-bottom: 1em;
}

/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
  font-size: 120%;
  line-height: 1.4;
}

} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
    body {
        text-align: left;
    }

    article, footer {
        width: auto;
    }

    article {
        padding: 0 10px;
    }
} /* @iPhone */

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #121414;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.errorCode {
    text-align: center;
}

.errorCode h1 {
    font-size: 10em;
    padding: 0;
    margin-bottom: 0;
}
.errorCode p {
    font-size: 1em;
}

.content h1 {
    margin-top: 1em;
}
  
/* Sidebar links */
.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

.sidebar h2 {
    text-align: center;
}

  
/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

  
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    padding: 1px 16px;
    margin-left: 150px;
    display: inline-block;

    width: -webkit-calc(100% - 190px);
    width:    -moz-calc(100% - 190px);
    width:         calc(100% - 190px);
}

.textPosts {
    margin-top: 2em;
}

.textPost {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1em;
    text-align: justify;
    border-bottom: .1em solid #ccc;
    border-top: .1em solid #ccc;
}
.textPost * {
    text-align: justify;
}
.textPost h1 {
    margin-bottom: .2em;
    margin-top: .2em;
}

.post_list {
    width: 45%;
    margin-left: 27.5%;
}

.post_gallery {
    float: left;
    width: 100%;
}

.post_gallery h1 {
    margin-bottom: 1em;
}

.post_gallery .post {
    width: 10em;
}

.post_gallery .post img, .post_gallery .post video {
    max-height: 10em;
    width: auto;
    max-width: 90%;
}

.post_gallery .post_title {
    white-space: nowrap;
    overflow: hidden;
}

.post_single {
    width: 60%;
    margin-left: 20%;
}

.post {
    width: 100%;
    background-color: #374444;
    display: inline-block;
    margin-bottom: 2em;
    border-radius: .75em;
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
}

.post * {
    width: 90%;
}

.post img, .post video {
    border-radius: .75em;
}

.post p {
    font-style: oblique;
    margin-left: 5%;
}

.post_title {
    margin-top: 1em;
}

.post_list .post_title {
    font-size: 1.5em;
}

.post_list .post_description {
    font-size: 1em;
}

.post_gallery .post_title {
    font-size: .75em;
    font-weight: bold;
}
.post_gallery .post_description {
    font-size: .65em;
}

.day_list {
    text-align: center;
}

.participants_title {
    background-color: #374444;
    width: 80%;
    margin-left: 10%;
    margin-top: 1em;
    border-radius: .75em;
    display: inline-block;
    text-align: center;
    margin-bottom: 2em;
}

.participants_title h1 {
    margin-bottom: .5em;
    margin-top: .5em;
}

.participants_list h2 {
    margin-top: 1em;
}

.participants_list {
    width: 80%;
    margin-left: 10%;
}

.participant {
    width: 100%;
    background-color: #374444;
    margin-bottom: 2em;
    border-radius: .75em;
    text-align: center;
    overflow-wrap: break-word;
    overflow: hidden;
}

.participant * {
    float: left;
}

.participant_picture {
    width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.participant_info { 
    margin-top: 1em;
    display: inline-block;
    width: 62.5%;
}

.participant_name {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}
.participant_name * {
    margin-bottom: 0;
}

.participant_bio {
    margin-bottom: 0;
    width: 100%;
}

.participant_bio * {
    margin-top: 0;
    word-wrap: break-word;
    white-space: initial;
    text-align: justify;
    width: 100%;
}

.participant img, .participant video {
    border-radius: .75em;
}

.participant_post_count {
    font-size: 1em;
    margin-top: .2em;
}

.sidebar_bottom {
    margin-top: 2em;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
}

.day_list a {
    margin-bottom: 1em;
    display: inline-block;
}

.day_list h1 {
    margin-bottom: 1em;
}

.pages_list {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    overflow-wrap: break-word;
}
.pages_list ul {
    display: flex;
    list-style-type: none;
}
.pages_list li {
    display: flex;
    margin-left: 0.2em;
}

.add_blur {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    width: 80%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.post_gallery_title {
    background-color: #374444;
    width: 45%;
    margin-left: 27.5%;
    margin-top: 1em;
    border-radius: .75em;
    display: inline-block;
    text-align: center;
    margin-bottom: 2em;
}

.post_single_title {
    background-color: #374444;
    width: 100%;
    margin-top: 2em;
    border-radius: .75em;
    display: inline-block;
    text-align: center;
    margin-bottom: 2em;
}

.post_single_title h1 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.post_gallery_title_center {
    margin-left: 27.5%;
}
.post_gallery_title h1 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.post_gallery_title a {
    margin-bottom: 1em;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
